# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env2/
venv/
.env/
.env

# Environment variables
.env
*.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Uvicorn
*.pid
